@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body,html{width:100%; height:100%}

body {
  color: #5a5a5a;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
a, a:hover, .btn{outline:none!important;}
.no-padding{
	padding-left:0; padding-right:0;
}
section{padding:75px 0 100px;}
.btn{border-radius:0;}
.btn-tranparent{border:1px solid #fff; color:#fff;}
.btn-tranparent:hover{border:1px solid #fff; color:#000; background:#fff}
h1{font-size:4.5vw;}
h2{font-size:4vw;}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }
  @keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  } 




/*-------------- Top Header --------------*/  
.top-bar {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 24px 0;
    position:absolute;
	top:0;
    width: 100%;
	z-index:2;
}
.affix {
    animation: 1s ease 0s normal both 1 running slideInDown;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 0 8px 0 rgba(88, 88, 88, 0.19);
    padding: 0.75em 0;
    position: fixed;
    z-index: 1000;
}

.top-bar .navbar-nav li a {color: #fff; font-size: 15px; font-weight: 700; text-transform: uppercase;}
.top-bar.affix .navbar-nav li a {color:#0B5679;}
.top-bar.affix .navbar-nav li a:hover, .top-bar.affix .navbar-nav li a:focus {color:#B24592;}
.top-bar .navbar-nav > .active > a, .top-bar .navbar-nav > .active > a:focus, .top-bar .navbar-nav > .active > a:hover, .top-bar .navbar-nav li a:hover, .top-bar .navbar-nav li a:focus{background:#fff; color:#39509E;}

.top-bar a.navbar-brand{color:#fff; font-size:30px; font-weight:600}
.top-bar a.navbar-brand:hover{color:#FF0000;}
.top-bar.affix a.navbar-brand{color:#B24592}
.top-bar a.navbar-brand.dark{color:#0B5679;}
.color-bg-nav{background:#1f2d3c; margin-top:0; padding:5px 0}

/*-------------- Top Banner --------------*/  
.banner-sec{width:100%; float:left; height:100vh; background: #B24592;
background: -webkit-linear-gradient(to bottom, #B24592 , #39509E);
background: linear-gradient(to bottom, #031634 , #CDB380); }
.banner-sec .particles-js-canvas-el {left: 0; position: absolute;  top: 0; opacity:0.4; z-index:0}
.banner-sec .jumbotron{background:none; margin-top: 100px; padding-left: 0; padding-right: 0; text-align: center; position:relative; z-index:1}
.banner-sec h1{font-weight:800; text-transform:uppercase; margin-bottom:0; color:#fff; margin-bottom:20px }
.banner-sec small{ color: #fff; display: block; font-size: 2.2vw; margin-top: 37px;}
.banner-sec .btn-tranparent{text-transform:uppercase; font-size:15px; font-weight:700; border-width:2px; padding:15px 25px; margin-top:30px;}
.banner-sec br{display:block; margin:-10px 0}


.intro-section{float:left; width:100%; padding-bottom:0}
.intro-section .intro-text{color: #434e5b; font-size: 22px; font-weight: 700; line-height: 35px; padding: 0 13% 20px; text-align: center; text-transform: uppercase; position: relative;}
.intro-section .intro-text:before{background:#B24592;content: "";height: 4px; left: 50%; margin-left: -80px; position: absolute; width: 160px;  bottom: 0;}
.intro-section p {font-size: 17px; margin-top: 38px;  padding: 0 17%; text-align: center;}
.intro-section .mockup-block {float: left; margin-top: 60px; text-align: center; width: 100%;}
.intro-section .mockup-block img{margin: 0 auto}


.services-sec{float:left; width:100%; background:#5A52A7 url(../img/sec-bg01.jpg) repeat-x; background-attachment:fixed; }
.services-sec h2 {color: #fff; font-size: 25px; font-weight: 700; text-transform: uppercase; margin-bottom:30px}
.services-sec h2:before{background:#fff;content: ""; height: 3px; left: 17px; margin-top: 40px; position: absolute; width: 110px;}
.services-sec small {color: #fff; display: block; line-height: 27px; margin-top: 27px; font-weight:600;}
.services-sec .services-container{color:#fff; margin-top:30px;}
.services-sec .services-container i {border: 1px solid #fff; border-radius: 50%; font-size: 33px; padding: 20px;}
.service-block{margin-bottom:60px;}
.services-sec h3 {font-size: 21px; font-weight: 600;}
.services-sec p {font-size: 16px; font-weight: 300; line-height: 27px;}

.about-sec{background:url(../img/about-bg.jpg) no-repeat 0 -100px; background-size: cover; float:left; width:100%;}
.about-sec h2 {color: #434e5b; font-size: 25px; font-weight: 700; text-transform: uppercase; margin-bottom:30px}
.about-sec h2:before{background:#B24592;content: ""; height: 3px; left: 17px; margin-top: 40px; position: absolute; width: 110px;}
.about-sec p {font-size: 16px; font-weight: 300; line-height: 27px;}
.about-sec ul{list-style:none; padding:0}
.about-sec ul li{list-style:none; font-weight:600; color:#5A52A7; padding:10px 0; position:relative; padding-left:20px}
.about-sec ul li::before{background: #b24592 none repeat scroll 0 0; content: ""; height: 10px; left: 0; position: absolute; top: 16px; width: 9px; border-radius:50%}
.about-sec .btn-success{text-transform:uppercase; font-size:15px; margin-top:20px; font-weight:600;}


.price-sec {background:#a24693 url(../img/sec-bg02.jpg) repeat-x; float: left; width: 100%; background-attachment:fixed;}
.price-sec h2 {color: #fff; font-size: 25px; font-weight: 700; text-transform: uppercase; margin-bottom:30px; text-align:center;}
.price-sec h2:before{background:#fff;content: ""; height: 3px; left: 50%; margin-top: 40px; position: absolute; width: 110px; margin-left:-55px;}
.price-sec small {color: #fff; display: block; line-height: 27px; margin-top: 20px; font-weight:600;}
.price-sec .plan-block {border: 2px solid #fff; color: #fff; float: left; padding: 60px 0; text-align: center; width: 100%; margin-top:90px; border-radius:10px;}
.price-sec .plan-block.middle{margin-top:70px; padding:80px 0} 
.price-sec .plan-block .heading,.price-sec .plan-block .heading > span, .price-sec .plan-block .detail-sec{float:left; width:100%;}
.price-sec .plan-block .detail-sec ul{padding:0; list-style:none;}
.price-sec .heading .price {font-size: 36px;font-weight: 700;}
.price-sec .heading .price b {font-weight: 400;}
.price-sec .heading .plan-type {font-size: 20px; font-weight: 600; text-transform: uppercase;}
.price-sec .heading .duration {margin: 5px 0 20px;}
.price-sec .plan-block .detail-sec ul { list-style: outside none none; margin: 0 auto 50px; padding: 0; text-align: left; width: 40%;}
.price-sec .plan-block .detail-sec li {font-size: 15px;margin: 20px 0; text-align:center}
.price-sec .plan-block .detail-sec i{margin-right:10px; margin-top:3px;}
.price-sec .btn-success {background: #fff; border: medium none; color: #a24693; font-size: 16px; font-weight: 600; padding: 5px 39px; text-transform: uppercase; border-radius:25px;}

.testimonial-sec{background:url(../img/sec-bg03.jpg) repeat-x; float:left; width:100%; color:#fff; background-size:cover;}
.testimonial-sec h2 {color: #434e5b; font-size: 25px; font-weight: 700; text-transform: uppercase; margin-bottom:30px}
.testimonial-sec h2:before{background:#B24592;content: ""; height: 3px; left: 17px; margin-top: 40px; position: absolute; width: 110px; left: 50%;
margin-left: -55px;}
.testimonial-sec h2 small {float: left; margin-top: 26px;width: 100%;}	
.testimonial-sec .testimonial-container{margin-top:60px;}
.testimonial-sec .carousel {padding-bottom: 60px;}
.testimonial-sec .carousel .carousel-inner .item {opacity: 0; transition-property: opacity;}
.testimonial-sec .carousel .carousel-inner .active {opacity: 1; transition-property: opacity;}
.testimonial-sec .carousel .carousel-indicators {bottom: 10px;}
.testimonial-sec .carousel .carousel-indicators > li {border:1px solid #5A52A7!important; border: medium none;}
.testimonial-sec .carousel .carousel-indicators .active{ background:#5A52A7}
.testimonial-sec .carousel p {font-size: 19px; font-weight: 400; color: #4d4d4d;}
.testimonial-sec blockquote {border: medium none; text-align: center; margin-top:20px;}
.testimonial-sec .profile-circle img {border-radius: 50%; height: 150px; margin: 0 auto; width: 150px; border:10px solid rgba(90,82,167,0.6);}
.testimonial-sec blockquote footer{color:#A24693; background:none; border:none; font-weight: 700}


.contact-sec{float:left; width:100%; background:#5A52A7 url(../img/sec-bg01.jpg) repeat-x; border-bottom:1px solid #7d75ca}
.contact-sec h2{color:#fff; text-transform:uppercase; font-size:25px; font-weight:700;}
.contact-sec p{font-size:16px; font-weight:300; color:#fff; margin:20px 0;}
.contact-sec .phone-sec{ font-weight:700; font-size:22px; color:#fff;}
.contact-sec .btn-tranparent{font-weight:600; font-size:16px; padding:5px 0px; text-transform:uppercase; width:200px; border-width:2px; margin-top:20px;}




footer{background:#031634; float: left; width: 100%; color:#fff; border-top: 1px solid #033649; padding: 30px 0}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 640px) {
    .banner-sec h1 {
    font-size: 27px;
}
    
    .banner-sec h1 small{
        font-size: 14px;
        line-height: 26px;
    }
    
    .banner-sec .btn-tranparent{
        margin-top: 0
    }
    
    .about-sec {
        background:none;
    }
}


@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

