/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */







/* ---- particles.js container ---- */

#particles-js{
  /*width: 100%;
  height: 100%;
  

background: #B24592;
background: -webkit-linear-gradient(to left, #B24592 , #F15F79);
background: linear-gradient(to top, #B24592 , #F15F79); */
        
}
