<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wolfpack.cmpsc488.a475layouts">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page">
            <intent-filter
                android:label="@string/app_name">

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".QuestionPage"
            android:label="@string/title_activity_question_page"/>
        <activity
            android:name=".LoginPage"
            android:label="@string/title_activity_login_page" />
        <activity
            android:name=".ClassPage"
            android:label="@string/title_activity_class_page"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".StudentPage"
            android:label="@string/title_activity_student_page"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>